<% include ../partials/header %>
  <div class="container">
    <% if (users.length > 0) {%>
      <% users.forEach(user => {%>
        <div class="card card-body mb-2">
          <h3 class="mb-3"><%= user.name %> 님의 회원정보</h3>
          <p><%= user.idemail %><p>
          <p><%= user.name %><p>
          <p><%= user.phone %></p>
          <a href="/users/purchaseinfo/<%= user._id %>" class="btn btn-dark btn-block  mb-2">구매기록확인</a>
          <a href="/users/updateinfo/<%= user._id %>" class="btn btn-dark btn-block  mb-2">회원정보수정</a>
          <form method="post" action="/users/<%= user._id %>?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="회원탈퇴">
          </form>
        </div>
      <% }); %>
    <% } else { %>
      <p>No video ideas listed!</p>
    <% } %>
  </div>
<% include ../partials/scripts %>
</body>
</html>
