<!DOCTYPE html>
 <html>
    <% include ../partials/header %>  <!-- header 불러오기 -->
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>회원 거래내역</title>
    <% include ../partials/scripts %>  <!-- 부트스트랩 코드 불러오기 -->
 </head>
 <body>
  <main class="page contact-page">
    <section class="portfolio-block contact">
     <div class="container">
      <% if (purchases.length > 0) {%> <!-- purchases의 길이가 0 이상일때 / purchases가 넘어왔을때 -->
       <h3 class="mb-3"><%= user %> 님의 거래내역</h3> 
      <% purchases.forEach(purchase => {%> <!-- forEach문으로 반복 -->
        <div class="card card-body mb-2">
          <p>제품명 : <%= purchase.name %><p> <!-- 넘어온 값 출력 -->
          <p>제품가격 : <%= purchase.price %> 원<p>
          <p>제품수량 : <%= purchase.quantity %> 개</p>
          <p>제품구매일자 : <%= purchase.date %></p>
        </div>
      <% }); %>
      <% } else { %>
        <p>구매기록이 존재하지 않습니다.</p>
      <% } %>
     </div>
       <center><a href="/" class="btn btn-dark btn-block  mb-2" style="width:700px">메인으로</a></center> <!-- 메인화면으로 -->
    </section>
  </main>
 </body>
 </html>
