<!DOCTYPE html>
 <html>
    <% include ../partials/header %>  <!-- header 불러오기 -->
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>제품수정</title>
    <% include ../partials/scripts %>  <!-- 부트스트랩 코드 불러오기 -->
 </head>
 <body>
  <main class="page contact-page">
    <section class="portfolio-block contact">
     <div class="container">
       <center><h3>제품정보수정하기</h3></center>
       <br>
        <form action="/products/<%= product._id %>?_method=PUT" method="post">  <!-- form 태그로 경로와 전송방식 결정 -->
          <div class="form-group">
            <input type="hidden" name="_method" value="PUT">
            <label for="title">제품명</label>
            <input type="text" class="form-control" name="name" value="<%= product.name %>"> <!-- 넘어온 값 출력 -->
          </div><br>
          <div class="form-group">
            <input type="hidden" name="_method" value="PUT">
            <label for="title">분류</label>
            <input type="text" class="form-control" name="category" value="<%= product.category %>">
          </div><br>
          <div class="form-group">
            <input type="hidden" name="_method" value="PUT">
            <label for="title">가격</label>
            <input type="text" class="form-control" name="price" value="<%= product.price %>">
          </div><br>
          <div class="form-group">
            <input type="hidden" name="_method" value="PUT">
            <label for="title">설명</label>
            <input type="text" class="form-control" name="explanation" value="<%= product.explanation %>">
          </div><br>
          <div class="form-group">
            <input type="hidden" name="_method" value="PUT">
            <label for="title">수량</label>
            <input type="text" class="form-control" name="quantity" value="<%= product.quantity %>">
          </div><br>
            <center><button type="submit" class="btn btn-primary" style="width: 540px;">제품수정</submit></center> <!-- 제품정보 수정 -->
        </form>
     </div>
    </section>
   </main>
 </body>
 </html>

