<% include ../partials/header %>
  <div class="container">
    <% if (products.length > 0) {%>
      <!-- <h3 class="mb-3">Your Products <%= user %>:</h3> -->
      <% products.forEach(product => {%>
        <div class="card card-body mb-2">
          <h4><%= product.name %></h4>
          <p><%= product.price %></p>
          <p><%= product.quantity %></p>
          <a href="/products/show/<%= product._id %>" class="btn btn-dark btn-block  mb-2">자세히보기</a>
          <% if (user == product.user) {%>
          <a href="/products/edit/<%= product._id %>" class="btn btn-dark btn-block  mb-2">Edit</a>
          <form method="post" action="products/<%= product._id %>?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
          </form>
          <% }%>
        </div>
      <% }); %>
    <% } else { %>
      <p>No video ideas listed!</p>
    <% } %>
  </div>
<% include ../partials/scripts %>
</body>
</html>
